@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

.wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #d3dfe7;
}

.title {
  font-family: "Tangerine", cursive;
  margin: 15px;
  font-size: 3.5rem;
  color: #005f9e;
  z-index: 2;
}
