<div class="question-creator-card">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add a question</mat-label>
    <textarea
      matInput
      placeholder="Ex. What color is the sky?"
      autocomplete="off"
      [(ngModel)]="this.question.question"
    ></textarea>
  </mat-form-field>

  <app-option-creator
    *ngFor="let option of options; let i = index"
    [optionInfo]="{
      index: i,
      option: option
    }"
    [correctIndex]="correctIndex"
    (deleteOption)="onDeleteOption($event)"
    (updateCorrectAnswerIndex)="updateCorrectAnswerIndex($event)"
    (updateOption)="onUpdateOption($event)"
  ></app-option-creator>

  <button mat-flat-button (click)="addOption()">+</button>

  <h3 *ngIf="correctIndex !== -1">
    Correct Answer: {{ question.options[correctIndex] }}
  </h3>

  <button
    mat-raised-button
    color="accent"
    (click)="postQuestion()"
    [disabled]="!isItSafeToPostQuestion()"
  >
    Submit Question
  </button>
</div>
