<mat-card class="nav-bar-card">
  <button mat-button [matMenuTriggerFor]="menu" class="menu">Menu</button>
  <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
    <button mat-menu-item disabled>Play the Game</button>
    <button mat-menu-item>Create Questions</button>
    <button mat-menu-item>History</button>
  </mat-menu>

  <div class="nav-bar">
    <button
      routerLink="quiz"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      mat-raised-button
    >
      Play the Game
    </button>
    <button
      routerLink="create-question"
      routerLinkActive="active"
      mat-raised-button
    >
      Create Questions
    </button>

    <button routerLink="history" routerLinkActive="active" mat-raised-button>
      History
    </button>
  </div>
  <app-authorization></app-authorization>
</mat-card>
