.menu {
  display: none;
}

.nav-bar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  min-width: 500px;

  .nav-bar-btn.active {
    color: rgba(0, 0, 0, 0.33);
    pointer-events: none;
  }
}

@media screen and(max-width:760px) {
  .nav-bar {
    display: none;
  }

  .menu {
    display: flex;
  }
}

@media screen and(max-width:360px) {
  .nav-bar-card {
    flex-direction: column-reverse;
  }
}
