<mat-error *ngIf="errors.required">
  Password is <strong>required</strong>.
</mat-error>
<mat-error *ngIf="errors.hasNoUpperCaseLetters">
  Password needs <strong>uppercase</strong> letters.
</mat-error>
<mat-error *ngIf="errors.hasNoLowerCaseLetters">
  Password needs <strong>lowercase</strong> letters.
</mat-error>
<mat-error *ngIf="errors.isNotPasswordLongEnough">
  Password should have 8 or more characters.
</mat-error>
<mat-error *ngIf="errors.hasWhiteSpaces">
  <strong>No</strong> white spaces.
</mat-error>
<mat-error *ngIf="errors.hasNoDigits">
  Password should contain numbers.
</mat-error>
<mat-error *ngIf="errors.hasNoSpecialCharacters">
  Password should contain special characters.
</mat-error>
