.question-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  
}

@media screen and(max-height: 724px) {
  .question-wrapper {
    align-items: flex-start;
  }
}

@media screen and(max-width: 700px) {
  .question-wrapper {
    justify-content: flex-start;
  }

  .question-card {
    width: 100%;
  }
}
