<div class="sign" *ngIf="!isSignedIn; else profile">
  <button
    routerLink="sign-in"
    routerLinkActive="active"
    mat-flat-button
    class="sign-in"
  >
    Sign in
  </button>

  <button
    routerLink="sign-up"
    routerLinkActive="active"
    mat-flat-button
    class="sign-up"
  >
    Sign up
  </button>
</div>

<ng-template #profile>
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>person</mat-icon>
  </button>
</ng-template>
