.sign {
  display: flex;
  justify-content: space-between;
  width: 13.5em;

  .sign-in.active,
  .sign-up.active {
    color: rgba(0, 0, 0, 0.33);
    pointer-events: none;
  }
}

.username-btn {
  pointer-events: none;
  font-size: 1.5rem;
}

@media screen and(max-width:360px) {
  .sign {
    flex-direction: column;
  }

  .sign-in + .sign-up {
    margin-top: 2em;
  }

  .mat-menu-content {
    width: 100%;
  }
}
