<div class="radio-group">
  <div
    class="radio"
    [class.correct]="isCorrect(i)"
    [@shake]="isCorrect(i) ? 'trueShake' : ''"
    [class.incorrect]="isIncorrect(i)"
    [@shake]="isIncorrect(i) ? 'falseShake' : ''"
    *ngFor="let option of options; let i = index"
    (click)="onOptionClick(i)"
    [class.disabled-option]="isAnswerShown"
  >
    <label class="container">
      <div class="checkmark">
        <div class="check" *ngIf="isChecked(i)"></div>
      </div>
      {{ option }}
    </label>
  </div>
</div>
