.my-question-wrapper {
  display: grid;

  grid-template-columns: 450px;
  grid-template-rows: repeat(auto-fill, 60px);
  grid-gap: 20px;

  justify-content: center;

  width: 100%;
  height: auto;

  margin-top: 50px;
  margin-bottom: 50px;

  .loader {
    display: flex;
    justify-content: center;
  }
}

.question-card {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .buttons {
    display: flex;
  }
}

.no-questions {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 451px) {
  .my-question-wrapper {
    justify-content: start;
    grid-template-columns: 100%;
  }
}
