<div class="my-question-wrapper">
  <div class="loader" *ngIf="isLoading; else questionCards">
    <app-loader></app-loader>
  </div>
  <ng-template #questionCards>
    <mat-card
      class="question-card"
      *ngFor="let question of questions; let i = index"
      >{{ question.question }}
      <div class="buttons">
        <button matSuffix mat-icon-button aria-label="Edit" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Delete">
          <mat-icon [matMenuTriggerFor]="delete" color="warn">delete</mat-icon>
          <mat-menu #delete="matMenu">
            <button mat-menu-item (click)="onDeleteQuestion(question.id, i)">
              Delete
            </button>
          </mat-menu>
        </button>
      </div>
    </mat-card>
  </ng-template>
</div>
