<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Option {{ optionInfo.index + 1 }}</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="optionInfo.option"
    (input)="onInput()"
  />
  <button
    *ngIf="optionInfo.option"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="optionInfo.option = ''"
  >
    <mat-icon>close</mat-icon>
  </button>

  <button
    *ngIf="optionInfo.index >= 2"
    matSuffix
    mat-icon-button
    aria-label="Delete"
  >
    <mat-icon [matMenuTriggerFor]="delete">delete</mat-icon>
    <mat-menu #delete="matMenu">
      <button mat-menu-item (click)="onDeleteOption()">Delete</button>
    </mat-menu>
  </button>

  <button
    *ngIf="optionInfo.option && !(optionInfo.index === correctIndex)"
    matSuffix
    mat-icon-button
    aria-label="Check"
    (click)="onCheckOption()"
  >
    <mat-icon>check</mat-icon>
  </button>
</mat-form-field>
