/* You can add global styles to this file, and also import other style files */

.mat-accent {
  background-color: #5298c7 !important;
  color: #ffffff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: fit-content;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #d3dfe7;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
